body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    box-sizing: border-box;
  }
  
  .react-datepicker-wrapper {
    width: 100%;
  }
  
  .react-datepicker__input-container {
    width: 100%;
  }
  
  input {
    height: 46px;
    border-radius: 4px;
    background-color: transparent;
    width: 96.3%;
  
  
  }
  
  select {
    height: 46px;
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
    color: rgba(255, 255, 255, 0.651);
  }
  
  h3 {
    margin: 0
  }
  
  p {
    margin: 0
  }
  
  li {
    list-style: none;
    color: rgba(30, 32, 34, 1);
    margin-top: 32px;
    cursor: pointer;
  }
  
  a {
    color: rgba(30, 32, 34, 1);
    font-weight: 700px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .carousel {
    position: relative;
    margin: auto;
  }
  
  .w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }
  
  button:disabled,
  button[disabled] {
    display: none;
  }
  
  .extra {
    width: 58%
  }